{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="container main-container headerOffset ">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">ГЛАВНАЯ</a></li>
                <li class="active"> {{ cat.name.upper }}</li>
            </ul>
        </div>
    </div>
    <section class="section-hero white-bg" id="section-category">
    <div class="container">


{#        <div class="hero-section-header ">#}
{#            <h3 class="hero-section-title">OUR FAVORITE CATEGORY</h3>#}
{#        </div>#}

        <div class="row row-centered">
            {% for subcat in subcats %}
                <div class="block-explore col-centered col-sm-3 col-xs-3 col-xs-min-12">
                <div class="inner">
                    <a class="overly hw100" href="{% url 'subcategory' subcat.name_slug %}">
                        <span class="explore-title"> {{ subcat.name }}</span>
                    </a>
                    <a href="{% url 'subcategory' subcat.name_slug %}" class="img-block"> <img alt="img" src="{{ subcat.image.url }}" class="img-responsive"></a>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>

</section>
  {% if collections %}
</div>

      <section class="section-hero " id="section-shop" style="background-color: #fcfcfc; box-sizing: border-box; display: block; border-bottom: 1px solid #d1d4d6; padding: 50px 0; -webkit-box-sizing: border-box;
border-top: 1px solid #d1d4d6";>
        <div class="container">
            <h3 class="section-title style2 text-center" style="background-color: #fcfcfc";><span style="background: #fcfcfc;">КОЛЛЕКЦИИ</span></h3>
            <div class="section-content">
                <div class="width100 section-block ">
                    <div class="row featureImg">
                        {% for  collection in collections %}
            <div class="col-md-3 col-sm-3 col-xs-6"><a href="{% url 'collection' collection.name_slug %}"><img src="{{ collection.image.url }}" class="img-responsive" alt="img"></a>
                        </div>

            {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </section>

 <div class="container main-container globalPaddingTop">
    {% endif %}
   <div>
    {{ cat.description|safe }}
    </div>
 </div>
{% endblock %}