{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta name="keywords" content= "{{ keywords }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="canonical" href="{{canonical_link}}"     />
    <title>{{ title }}</title>
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/amaran.min.css'%}" rel="stylesheet">
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="{% static 'js/pace.min.js'%}"></script>
    <link id="pagestyle" rel="stylesheet" type="text/css" href="{% static 'css/pink.css'%}">
</head>
<body>
    <form id="dummy_form">{% csrf_token %}</form>
    {% include 'header.html' %}
    <div class="container main-container headerOffset globalPaddingBottom">
    {% block content %}
    {% endblock %}
    </div>
    {% include 'footer.html' %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/idangerous.swiper-2.1.min.js'%}"></script>
    <script src="{% static 'js/jquery.cycle2.min.js'%}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mousewheel.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/icheck.min.js'%}"></script>
    <script src="{% static 'js/jquery.matchHeight-min.js'%}"></script>
    <script src="{% static 'js/grids.js'%}"></script>
    <script src="{% static 'js/1owl.carousel.min.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{% static 'js/bootstrap.touchspin.js'%}"></script>
    <script src="{% static 'js/home.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
     <script src="{% static 'js/quick_view.js'%}"></script>
     <script src="{% static 'js/jquery.amaran.min.js'%}"></script>

     <script src="{% static 'js/add_to_cart.js'%}"></script>

 <script type="text/javascript">


    $(function () {
        var target = $("div.has-overly-shade"),
                targetHeight = target.outerHeight();
        $(document).scroll(function () {
            var scrollPercent = (targetHeight - window.scrollY) / targetHeight;
            scrollPercent >= 0 && (target.css("background-color", "rgba(0,0,0," + (1.1 - scrollPercent) + ")"))
        })
    });


    $(function () {
        if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
            $('#ios-notice').removeClass('hidden');
            $('.parallax-container').height($(window).height() * 0.5 | 0);
        } else {
            $(window).resize(function () {
                var parallaxHeight = Math.max($(window).height() * 0.7, 200) | 0;
                $('.parallax-container').height(parallaxHeight);
            }).trigger('resize');
        }
    });


    $(document).ready(function () {
        var isMobile = function () {
            //console.log("Navigator: " + navigator.userAgent);
            return /(iphone|ipod|ipad|android|blackberry|windows ce|palm|symbian)/i.test(navigator.userAgent);
        };

        if (isMobile()) {
            // For  mobile , ipad, tab
            $('.animateme').removeClass('animateme');
            $('.if-is-mobile').addClass('ismobile');

        } else {
        }


    }); // end




</script>
</body>
</html>
