{% load static %}
<footer>

    <!--/.footer-->

    <div class="footer-bottom" style="background: #D33061 !important;">
        <div class="container">
            <p class="pull-left" style="color: #fff"> &copy; 2006-2019 Лакшми. Все права защищены</p>
               <p class="pull-right " style="margin-top: 6px;">
                   <a style="color: #fff" href="{% url 'about_us' %}">О НАС</a> |
                   <a style="color: #fff" href="{% url 'contacts' %}">КОНТАКТЫ</a> |
               <a style="color: #fff" href="#">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
               </p>
        </div>
    </div>
</footer>


